{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}"  type="text/css">
<link href='https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap' rel="stylesheet" type="text/css">

{% endblock %}

<!-- Content block -->
{% block content%}
<div class="container">
<div class="col-md-3">
    <h1 style="text-align:center; color:black;">News web</h1>
    <P class="int" style="text-align:center; color: black;">Be Updated with News</P>
    <P class="int" style="text-align:center; color: black;">Our daily news is cutting across the world, we will keep you posted with every news you need</P>
    <P class="int" style="text-align:center; color: black;">Keep checking your phone for more updates</P><br><br>
    <h1 style="text-align:center; color:black;">BUSINESS</h1>
    <h1 style="text-align:center; color:black;">TECH</h1>
    <h1 style="text-align:center; color:black;">Entertainment</h1>
    
</div>
    <div class="col-md-9">
        <div class="column">
            <div class="card"></div>
            <h2 style="color: black; text-transform: uppercase;">Business</h2>
            {{ macro.displaySourceList(business)}}
        </div>
        <div class="column">
            <div class="card">
            <h2 style="color: black; text-transform:uppercase;"> Technology</h2>
            {{ macro.displaySourceList(technology)}}
            </div>
        </div>
    
    <div class="row">
        <div class="column">
            <div class="card">
            <h2 style="color: black; text-transform:uppercase">Entertainment</h2>
            {{ macro.displaySourceList(entertainment)}}
           </div>
        </div>
    </div>
</div>
{%endblock%}
